.redborder {
    border:2px solid #f96145;
    border-radius:2px;
}

.hidden {
    display: none;
}

.visible {
    display: normal;
}

.colored {
    background-color: #F0EEEE;
}

.bigicon {
    font-size: 97px;
    color: #f96145;
}

.contcustom {    
    width: 90%;
    max-width: 320px;
    border-radius: 0.5rem;    
    margin: 50px auto;
    background-color: white;
    border: 1px solid var(--gray-3); 
    padding: 20px 0;    
    box-sizing: border-box;
}

.login-header-bar {        
    box-sizing: border-box;
    text-align: center; 
    padding: 20px 20px 10px 20px;   
}

.login-header-bar i {        
    font-size: 116px;
    color: var(--gray-3);    
}

.contcustom form {    
    float: left;    
    padding: 0 20px;
}

.loginInput {
    width: 100%;
    margin-bottom: 17px;
    padding: 8px 10px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid var(--gray-3);
}

input[type=submit] {
    font-family: "Roboto Medium";
    text-transform: uppercase;
    color: var(--white);    
    background-color: var(--orange);
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-out;
    width: 100%;    
}

input[type=submit]:hover {    
    background-color: var(--orange-6);       
}

#divLogin{
    margin-top: 50px;
}

