
/*
    Define the variables
    To use, you can try something like this: color: var(--blue);
*/
:root {
    --white: #ffffff;
    /* --orange: #F57C00; */
    --orange-6: #fb8c00;
    --gray-0: #fafafa;
    --gray-1: #f5f5f5;
    --gray-2: #eeeeee;
    --gray-3: #e0e0e0;
    --gray-5: #9e9e9e;
    --gray-6: #757575;
    --gray-7: #616161;
    --gray-8: #424242;
    --gray-9: #212121;
}

/*
    font-face rules
*/
@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

/*
    Material Icons settings
*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*
    Basic format rewrites
*/
body {
    font-family: "Roboto Regular";
    background-color: var(--gray-0);
}

h1 {
    font-family: "Roboto Bold";
    line-height: 1.5;
}

h3 {
    font-family: "Roboto Regular";
    line-height: 1.5;
}

h4 {
    font-family: "Roboto Medium";
    font-size: 18px;
}

/*
    Custom UI based on Material Design by Google
*/

.mask,
.modal-mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: .2s ease-out;
}

.modal-mask {
    z-index: 3;
}

.mask-active,
.modal-mask-active {
    background-color: rgba(0, 0, 0, 0.8);
}

.container {
    padding: 0;
}

.center-content {
    width: 100%;
    box-sizing: border-box;
    min-height: 110vh;
}

.center-content section {
    padding: 16px;
}

.fixed-height {
    height: 100vh;
    overflow: auto;
}

.clear-margins {
    margin: 0;
}

.appbar {
    max-height: 64px;
    padding: 4px;
    background-color: var(--orange);
}

.appbar .row{
    width: 100%;
}

.appbar h3{
    font-size: 20px;
    float: left;
    line-height: 52px;
    margin: 0;
    padding: 2px 16px;
    color: var(--white);
}

.appbar .btn-col {
    max-width: 56px;
}

.appbar .btn {
    padding: 0 16px;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: var(--white);
}

/* .appbar .btn:hover,
.appbar .btn:focus,
.appbar .btn:active {
    background-color: var(--orange-6);
} */

.appbar .btn i{
    line-height: 56px;
}

.nav-left {
    min-width: 320px;
    width: 320px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    margin-left: -320px;
    background-color: var(--white);
    border-right: 1px solid var(--gray-3);
    z-index: 2;
    transition: .2s ease-out;
}


.nav-left::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.nav-left-active {
    margin-left: 0px;
}

.nav-left .user-session {
    background-color: var(--gray-2);
    border-bottom: 1px solid var(--gray-3);
    padding: 16px;
    padding-top: 36px;
}

.nav-left .user-session img {
    background-color: #9d9d9d;
    width: 72px;
    height: 72px;
    display: block;
    margin-bottom: 16px;
}

.nav-left .user-session span.username {
    font-size: 18px;
    font-family: "Roboto Bold";
}

.nav-left .user-session span.usertype {
    font-size: 14px;
    color: #444;
}

.nav-left .nav-left-link-list .nav-left-spacer {
    width: 100%;
    height: 8px;
    float: left;
}

.nav-left .nav-left-link-list li.link-separator {
    padding: 16px;
    font-family: "Roboto Medium";
}

.nav-left .nav-left-link-list .link-separator-line {
    width: 100%;
    height: 8px;
    float: left;
    border-bottom: 1px solid var(--gray-3);
}

.nav-left .nav-left-link-list a.nav-link {
    float: left;
    width: 100%;
    padding: 12px 16px;
    color: var(--gray-5);
    transition: color .2s ease-out;
}

.nav-left .nav-left-link-list a.nav-link:hover,
.nav-left .nav-left-link-list a.nav-link:active {
    color: var(--gray-7);
}

.nav-left .nav-left-link-list a.nav-link-active {
    color: var(--orange);
}

.nav-left .nav-left-link-list a.nav-link-active:hover,
.nav-left .nav-left-link-list a.nav-link-active:active {
    color: var(--orange);
}

.nav-left .nav-left-link-list a.nav-link i {
    float: left;
    margin-right: 24px;
}

.nav-left .nav-left-link-list a.nav-link span {
    float: left;
    padding-top: 2px;
    font-family: "Roboto Medium";
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 56px;
    align-content: center;
    background-color: var(--white);
    border-top: 1px solid var(--gray-3);
}

.nav-bottom-unactive {
    bottom: -56px;
}

.nav-bottom ul.nav-tabs {
    width: 100vw;
    max-width: 576px;
    border: none;
}

.nav-bottom ul.nav-tabs li.nav-item {
    margin: 0;
    padding: 0;
}

.nav-bottom ul.nav-tabs li.nav-item a.nav-link {
    margin: 0;
    text-align: center;
    color: var(--gray-5);
    border: none;
    text-transform: uppercase;
}

.nav-bottom ul.nav-tabs li.nav-item a.nav-link span {
    float: left;
    width: 100%;
    font-family: "Roboto Medium";
    font-size: 12px;
    margin-top: -5px;
}

.nav-bottom ul.nav-tabs li.nav-item a.nav-link-active,
.nav-bottom ul.nav-tabs li.nav-item a.nav-link-active span {
    background-color: none;
    font-family: "Roboto Bold";
    color: var(--gray-8);
}

.table th {
    font-family: "Roboto Bold";
    border: none;
}

.table th,
.table td {
    padding-top: 20px;
}

.table td i {
    color: #9d9d9d;
}

.breadcrumb-container {
    background-color: var(--gray-2);
    border-bottom: 1px solid var(--gray-3);
}

.breadcrumb {
    padding: 16px;
    border-radius: 0;
    background-color: var(--gray-2);
}

.breadcrumb .breadcrumb-item i {
    margin-top: 4px;    
    transition: .2s ease-out;
}

.breadcrumb .active::before {
    content: "›";
    font-size: 20px;
    padding: 0 16px;
    color: #9d9d9d;
}

a.floating-action-button {
    border-radius: 50%;    
    padding: 16px;
    line-height: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    transition: .2s ease-out;
}

a.floating-action-button i {
    color: var(--white);
    font-size: 36px;
}

.md-floating-button {
    position: fixed;
    right: 32px;
    bottom: 32px;
}

.align-right {
    float: right;
}

.modal form {
    width: 100%;
    float: left;    
    box-sizing: border-box;
}

.modal form label {
    float: left;
    width: 100%;
}

.modal form input[type=text] {
    float: left;
    width: 100%;
    padding: 5px 8px;
    margin-bottom: 16px;
}

.modal form .modal-button-bar {
    float: left;
    width: 100%;
    margin-top: 5px;
    justify-content: flex-end;
}

.modal form .modal-button-bar input {
    font-family: "Roboto Medium";
    text-transform: uppercase;
    color: var(--gray-4);    
    border: none;
    padding: 4px 12px;
    border-radius: 3px;
    margin-left: 16px;
    cursor: pointer;
    transition: .2s ease-out;
}

.modal form .modal-button-bar input[type=button]{
    background-color: transparent;    
}

.modal form .modal-button-bar input[type=button]:hover {
    background-color: var(--gray-3);    
}

.modal form .modal-button-bar input[type=submit] {    
    color: var(--white);
}

@media (max-width: 576px) {
    .sm-cell-hide {
        display: none;
    }

}

@media (max-width: 768px) {
    .md-cell-hide {
        display: none;
    }

    .md-floating-button {
        position: fixed;
        right: 16px;
        bottom: 72px;
    }

    a.floating-action-button i {
        font-size: 24px;
    }
}
